*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html{
  background-image: url('https://images.pexels.com/photos/635279/pexels-photo-635279.jpeg?cs=srgb&dl=pexels-bella-white-201200-635279.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}